USE [master]
GO

CREATE DATABASE [foodtruck]
ON PRIMARY
( NAME = N'foodtruck', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\foodtruck.mdf', SIZE = 8192KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
LOG ON
( NAME = N'foodtruck_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\foodtruck_log.ldf', SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB )
GO

USE [foodtruck]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Recipes](
    [RecipeID]  [int] IDENTITY(1,1) NOT NULL,
    [Name]      [varchar](50) NULL,
    [Price]     [float] NULL,
    CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED ([RecipeID] ASC)
)
GO

CREATE TABLE [dbo].[Customers](
    [CustomerID] [int] IDENTITY(1,1) NOT NULL,
    [FirstName]  [varchar](50) NULL,
    [LastName]   [varchar](50) NULL,
    [Email]      [varchar](100) NULL,
    [Phone]      [varchar](20) NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED ([CustomerID] ASC),
    CONSTRAINT [UQ_Customers_Email] UNIQUE ([Email])
)
GO

CREATE TABLE [dbo].[Ingredients](
    [IngredientID]   [int] IDENTITY(1,1) NOT NULL,
    [Name]           [varchar](50) NULL,
    [UnitCost]       [float] NULL,
    [InventoryCount] [int] NULL,
    CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED ([IngredientID] ASC)
)
GO

CREATE TABLE [dbo].[Orders](
    [OrderID]     [int] IDENTITY(1,1) NOT NULL,
    [CustomerID]  [int] NOT NULL,
    [TotalPrice]  [decimal](10, 2) NOT NULL,
    [TimeOfOrder] [datetime] NULL DEFAULT (getdate()),
    CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED ([OrderID] ASC),
    CONSTRAINT [FK_Orders_CustomerID] FOREIGN KEY ([CustomerID]) REFERENCES [dbo].[Customers] ([CustomerID])
)
GO

CREATE TABLE [dbo].[LineItem](
    [LineItemID] [int] IDENTITY(1,1) NOT NULL,
    [OrderID]    [int] NOT NULL,
    [RecipeID]   [int] NOT NULL,
    [Quantity]   [int] NULL DEFAULT (1),
    CONSTRAINT [PK_LineItem] PRIMARY KEY CLUSTERED ([LineItemID] ASC),
    CONSTRAINT [FK_LineItem_OrderID]  FOREIGN KEY ([OrderID])  REFERENCES [dbo].[Orders]  ([OrderID]),
    CONSTRAINT [FK_LineItem_RecipeID] FOREIGN KEY ([RecipeID]) REFERENCES [dbo].[Recipes] ([RecipeID])
)
GO

CREATE TABLE [dbo].[RecipeIngredients](
    [Recipe]     [int] NOT NULL,
    [Ingredient] [int] NOT NULL,
    [Amount]     [float] NULL,
    CONSTRAINT [PK_RecipeIngredients] PRIMARY KEY CLUSTERED ([Recipe] ASC, [Ingredient] ASC),
    CONSTRAINT [FK_RecipeIngredients_Ingredient] FOREIGN KEY ([Ingredient]) REFERENCES [dbo].[Ingredients] ([IngredientID]),
    CONSTRAINT [FK_RecipeIngredients_Recipe]     FOREIGN KEY ([Recipe])     REFERENCES [dbo].[Recipes]     ([RecipeID])
)
GO

